.ycon{ background:url("ycon.png") top left no-repeat; }
.ycon-mascotes{ width:741px; height:403px; background-position:-1px -1px; }
.ycon-mini-banner{ width:259px; height:252px; background-position:-1px -405px; }
.ycon-like{ width:41px; height:42px; background-position:-261px -405px; }
.ycon-marker{ width:23px; height:30px; background-position:-303px -405px; }
.ycon-instagram{ width:30px; height:30px; background-position:-327px -405px; }
.ycon-facebook{ width:30px; height:30px; background-position:-358px -405px; }
.ycon-phone{ width:30px; height:28px; background-position:-389px -405px; }
.ycon-mail-lg{ width:40px; height:25px; background-position:-420px -405px; }
.ycon-mail{ width:28px; height:22px; background-position:-461px -405px; }
.ycon-twitter{ width:27px; height:21px; background-position:-490px -405px; }

